@{
  ViewData["Title"] = "Ошибка!";
  ViewData["Icon"] = "error.ico";
}

<section class="hero is-medium is-danger has-text-centered">
  <div class="hero-body">
    <p class="title">Упс! &#128550;</p>
    <p class="subtitle">Что-то пошло не так.</p>
    <p class="subtitle">Возможно, страница, которую вы ищете, не существует.</p>
  </div>
</section>