@{
  ViewData["Title"] = "Менеджеры";
}

@* <section class="hero is-link">
  <div class="hero-body">
    <p class="title">HEY! &#9996;</p>
    <p class="subtitle">Welcome to this webpage. It is still under construction.</p>
  </div>
</section> *@

<div class="container" id="mainContent">
  <div class="columns is-desktop is-hidden" id="searchBar">
    <div class="column is-3 is-offset-9">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input type="text" class="input" id="searchInput" placeholder="Поиск по имени">
        </div>
        <div class="control is-hidden" id="searchDeleteButton">
          <button class="button is-outlined is-danger" id="clearSearch"><span class="icon"><i class="fas fa-times"></i></span></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="instructionsModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Добавляем менеджера</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="content">
        <h1 class="is-size-1">Lololol.</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque enim ex ducimus nobis? Impedit aperiam, esse excepturi alias est corrupti magni rerum obcaecati et officia consequuntur cum sed ea hic debitis laudantium unde, omnis, quo mollitia eligendi culpa molestiae fugiat.</p>
      </div>
    </section>
    <footer class="modal-card-foot">

    </footer>
  </div>
</div>

@section Scripts {
  <script type="module" src="~/js/home.js"></script>
}